# data_store 모듈 이용해서 데이터 관리

In [1]:
from modules.data_store import data_store

There is not data stored

# 데이터 한곳으로 모으기

In [21]:
import os
import pandas as pd
data_path = './open/'
directory_list = ['test_input', 'train_input']

df = pd.DataFrame()
output_df = pd.DataFrame()

for d in directory_list:
    for file_nm in os.listdir(data_path + d):
        tmp = pd.read_csv(data_path+d+'/'+file_nm)
        train_test_split = file_nm.split('_')
        tmp['train/test'] = train_test_split[0]
        tmp['file_num'] = train_test_split[1].split('.')[0]
        df = pd.concat([tmp,df])

        
directory_list = ['test_target', 'train_target']
for d in directory_list:
    for file_nm in os.listdir(data_path + d):
        tmp = pd.read_csv(data_path+d+'/'+file_nm)
        train_test_split = file_nm.split('_')
        tmp['train/test'] = train_test_split[0]
        tmp['file_num'] = train_test_split[1].split('.')[0]
        output_df = pd.concat([tmp,output_df])

        
        
output_df

    DAT  predicted_weight_g train/test file_num
0     1            1.918119       CASE       08
1     2            2.071781       CASE       08
2     3            2.210768       CASE       08
3     4            2.409266       CASE       08
4     5            2.808479       CASE       08
..  ...                 ...        ...      ...
23   24            0.000000       TEST       02
24   25            0.000000       TEST       02
25   26            0.000000       TEST       02
26   27            0.000000       TEST       02
27   28            0.000000       TEST       02

[924 rows x 4 columns]

In [37]:
df['DAT'] = df['DAT'] + 1

In [35]:
len(df)

22176

In [36]:
df = pd.merge(output_df , df , how='inner',on=['DAT','train/test','file_num'])
len(df)

22176

In [38]:
data_store = data_store(all_df=df)

No saved pickle files

# 한 곳으로 모은 데이터 저장

In [39]:
data_store.save_pkl()

# 확인

In [42]:
import joblib 
joblib.load('./modules/pkl_file/hist_df_20221126_1545.pkl')

{'1_trial':        DAT  predicted_weight_g train/test file_num obs_time    내부온도관측치  \
 0        1            1.918119       CASE       08    00:00  27.680000
 1        1            1.918119       CASE       08    01:00  27.770000
 2        1            1.918119       CASE       08    02:00  27.766666
 3        1            1.918119       CASE       08    03:00  27.896666
 4        1            1.918119       CASE       08    04:00  27.921666
 ...    ...                 ...        ...      ...      ...        ...
 22171   28            0.000000       TEST       02    19:00  26.960000
 22172   28            0.000000       TEST       02    20:00  26.211667
 22173   28            0.000000       TEST       02    21:00  25.368333
 22174   28            0.000000       TEST       02    22:00  25.256667
 22175   28            0.000000       TEST       02    23:00  24.575000

          내부습도관측치      co2관측치     ec관측치  시간당분무량   일간누적분무량  시간당백색광량    일간누적백색광량  \
 0      73.026667  466.750000  0.000000    61.7     61.70   0.0000       0.000
 1      73.120000  464.516667  0.000000    61.7    123.40   0.0000       0.000
 2      73.130001  466.233333  0.000000    61.7    185.10   0.0000       0.000
 3      73.488334  468.466667  0.000000    61.7    246.80   0.0000       0.000
 4      73.543333  471.550000  0.000000    61.7    308.50   0.0000       0.000
 ...          ...         ...       ...     ...       ...      ...         ...
 22171  56.620000  542.616667  1.067239   769.0  11117.05  12.3764  209656.216
 22172  57.241667  540.583333  1.074064     0.0  11117.05   0.0000  209656.216
 22173  56.310000  530.800000  1.078533   769.0  11886.05   0.0000  209656.216
 22174  57.343333  540.466667  1.078533     0.0  11886.05   0.0000  209656.216
 22175  56.585000  536.166667  1.082081   769.0  12655.05   0.0000  209656.216

        시간당적색광량  일간누적적색광량  시간당청색광량  일간누적청색광량   시간당총광량     일간누적총광량
 0          0.0       0.0      0.0       0.0   0.0000       0.000
 1          0.0       0.0      0.0       0.0   0.0000       0.000
 2          0.0       0.0      0.0       0.0   0.0000       0.000
 3          0.0       0.0      0.0       0.0   0.0000       0.000
 4          0.0       0.0      0.0       0.0   0.0000       0.000
 ...        ...       ...      ...       ...      ...         ...
 22171      0.0       0.0      0.0       0.0  12.3764  209656.216
 22172      0.0       0.0      0.0       0.0   0.0000  209656.216
 22173      0.0       0.0      0.0       0.0   0.0000  209656.216
 22174      0.0       0.0      0.0       0.0   0.0000  209656.216
 22175      0.0       0.0      0.0       0.0   0.0000  209656.216

 [22176 rows x 19 columns]}